//intro css
.intro-box {
    background-color: #1d1d1f;
    width: calc(100% - 38%);
    margin: 22px auto;
    border-radius: 25px;

    .intro-image-wrapper {
        width: 35%;
        .intro-image {
            width: 250px;
            height: 250px;
            margin-top: 40px;
        }
    }

    .intro-content {
        width: 60%;
        .intro-title {
            font-family: 'Inter-bold';
            font-size: 48px;
            margin: 0;
            font-weight: bold;
            line-height: unset;
            background: linear-gradient(90deg, #4ac7fa 0%, #e649f5 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
        .intro-desc-wrapper {
            margin-top: 35px;
            .intro-description {
                font-family: 'Inter-medium';
                line-height: 27px;
                color: #bfbfc1;
            }
        }
    }
}

//skills css
.skills-box {
    background-color: #1d1d1f;
    width: calc(100% - 38%);
    margin: 65px auto;
    border-radius: 25px;

    .intro-image-wrapper {
        width: 35%;
        .intro-image {
            width: 250px;
            height: 250px;
            margin-top: 40px;
        }
    }

    .intro-content {
        width: 60%;
        .intro-title {
            font-family: 'Inter-bold';
            font-size: 48px;
            margin: 0;
            font-weight: bold;
            line-height: unset;
            background: linear-gradient(90deg, #4ac7fa 0%, #e649f5 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
        .intro-desc-wrapper {
            margin-top: 35px;
            .intro-description {
                font-family: 'Inter-medium';
                line-height: 27px;
                color: #bfbfc1;
            }
        }
    }
}
//social css
.social-box {
    background-color: #1d1d1f;
    width: calc(100% - 38%);
    margin: 22px auto;
    border-radius: 25px;

    .intro-image-wrapper {
        width: 35%;
        .intro-image {
            width: 250px;
            height: 250px;
            margin-top: 40px;
        }
    }

    .intro-content {
        width: 60%;
        .intro-title {
            font-family: 'Inter-bold';
            font-size: 48px;
            margin: 0;
            font-weight: bold;
            line-height: unset;
            background: linear-gradient(90deg, #4ac7fa 0%, #e649f5 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
        .intro-desc-wrapper {
            margin-top: 35px;
            .intro-description {
                font-family: 'Inter-medium';
                line-height: 27px;
                color: #bfbfc1;
            }
        }
    }
}
